<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/style.css">
    <title>testing</title>
  </head>
  <body>
   <% include Partials/header.ejs %>
   <p>Hello<p>
   <% include Partials/footer.ejs %>
  </body>
</html>
