</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <form class="" action="index.html" method="post">
        First Name : <input type="text" name="firstname" value=""><br>
        Last Name : <input type="text" name="lastname" value=""><br>
        Gender :<select name="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select><br>
        Age  : <input type="text" name="age" value=""><br>
        Race : <select name="race">
                  <option value="African">African</option>
                  <option value="American">American</option>
                  <option value="Asian">Asian</option>
                </select><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
